.title {
  display: inline-block;
  color: var(--color-dark-grey);
}

.subtitle {
  margin-top: 5px;
  display: block;
  font-size: 1.4rem;
}

.content {
  margin: 18px 0 36px;
  text-align: left;
}

.content ul {
  margin-top: 0;
  margin-bottom: 0;
}

.content ul p {
  margin-bottom: 0;
}

.content:last-child {
  margin-bottom: 0;
}

.no-margin {
  margin-bottom: 14px;
}

.back {
  color: var(--color-dark-grey);
  font-size: 1.4rem;
  font-weight: bold;
}

.back svg {
  width: 9px;
  height: 9px;
  margin-right: 9px;
  transform: rotateZ(90deg);
}

.back path {
  fill: var(--color-dark-grey);
}
