.image-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.banner-container {
  max-width: 749px;
  margin: 0 auto;
}

.banner-image-container {
  padding-top: 64.75%;
}

.banner-image {
  background-image: url('../images/Role_Interface_Table_VideoGrid.jpg');
}

.signup-panel {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  font-size: 1.4rem;
}

.signup-panel p {
  max-width: 420px;
  margin: 0 auto 18px;
  font-size: 1.4rem;
}

.panel-account {
  margin-top: 18px;
  font-weight: bold;
}

.arrow {
  width: 28px;
  height: 28px;
  margin: 36px auto;
}

.arrow svg {
  width: 100%;
  height: 100%;
}

.arrow path {
  fill: var(--color-white);
}

.interface p {
  margin-bottom: 0;
}

.image-grid {
  margin: 36px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 18px;
}

.image-grid-primary {
  padding-top: 55.99%;
  grid-column-end: span 2;
}

.image-grid-secondary {
  padding-top: 55.94%;
}

.image-grid1 {
  background-image: url('../images/Role_Interface_Table_DiceRoller.jpg');
}

.image-grid2 {
  background-image: url('../images/Role_Interface_Table_Maps.jpg');
}

.image-grid3 {
  background-image: url('../images/Role_Interface_TemplateCreator.jpg');
}

.features {
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 36px;
}

.feature {
}

.feature-heading {
  margin-bottom: 5px;
}

.games {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 18px;
}

.games-image-container {
  padding-top: 34.42%;
}

.games-image {
  background-image: url('../images/SupportedGameLogos.png');
}

.pillar {
  width: 50%;
  max-width: 384px;
  display: inline-block;
  vertical-align: top;
}

.pillar:first-child {
  padding-right: 36px;
}

.pillar:last-child {
  padding-left: 36px;
}

.pillar-image-container {
  width: 100%;
  margin: 0 auto 36px;
}

.pillar-image {
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.image-play {
  background-image: url('../images/PlaySomethingNewInterface.png');
}

.image-table {
  background-image: url('../images/FillYourTableInterface.png');
}

.testimonials-section {
  max-width: 1200px;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.testimonials-column {
  width: calc(100% / 3);
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}

.testimonial {
  margin-bottom: 36px;
  text-align: left;
}

.testimonial-quote {
  margin-bottom: 9px !important;
  font-style: italic;
}

.testimonial-author {
  text-align: right;
}

.wallpapers p {
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}

.wallpaper-preview {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: url('../images/Role_Worlds_Wallpaper.jpg') no-repeat center center;
  background-size: cover;
}

.input,
.textarea {
  width: 100%;
  height: 36px;
  margin-bottom: 18px;
  padding: 2px 18px 4px;
  display: block;
  background: var(--color-white);
  border: none;
  border-radius: 36px;
  color: var(--color-dark-grey);
  font-family: var(--font-europa);
}

.textarea {
  height: auto;
  min-height: 260px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 18px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.recaptcha {
  margin-bottom: 18px;
  display: inline-block;
}

.submit-button {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .testimonials-column {
    width: 50%;
  }

  .testimonials-column:last-child {
    display: none;
  }
}

@media only screen and (max-width: 667px) {
  .image-grid {
    grid-template-columns: 1fr;
  }

  .image-grid-primary {
    grid-column-end: span 1;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .testimonials-column {
    width: 100%;
  }

  .pillar {
    width: 100%;
    max-width: 380px;
    margin-top: 54px;
    padding: 0 !important;
  }

  .pillar:first-child {
    margin-top: 0;
  }
}
