p {
  margin-bottom: 36px;
}

p:last-child {
  margin-bottom: 0;
}

.inner-content {
  width: 100%;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 36px;
}

.header-content {
  max-width: 1026px;
}

.pillars-content {
  max-width: 1232px;
  padding: 36px 0;
}

.creators-content {
  max-width: 680px;
}

.logo {
  width: 214px;
  height: 221px;
  margin: 0 auto 72px;
  background: url('../images/RoleLogo.png') no-repeat 0 0;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
}

.section {
  padding: 108px 0;
  color: #fff;
  text-align: center;
}

.slanted-section {
  padding: 110px 0;
  text-align: center;
}

.slant {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.slant:before,
.slant:after {
  width: 0;
  display: block;
  position: absolute;
  left: 0;
  border-style: solid;
  border-width: 0 100vw 200px 0;
  content: '';
}

.slant:before {
  top: -200px;
  border-color: transparent transparent white transparent;
}

.slant:after {
  bottom: -200px;
  border-color: transparent white transparent transparent;
}

.slanted-section.slanted-section-footer {
  padding-bottom: 0;
}

.slanted-section-footer .slant {
  padding-bottom: 108px;
}

.slanted-section-footer .slant:after {
  border-width: 0;
}

.section-heading,
.slanted-heading {
  margin-bottom: 36px;
}

.section-heading {
  color: #fff;
}

.slanted-heading {
  color: #ff006b;
}

.banner {
  max-width: 1000px;
  height: 562px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/InterfaceBanner.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 18px;
}

.banner-content {
}

.banner-pretitle {
  font-size: 14px;
}

.banner-title {
  margin-bottom: 16px;
  color: #c1d94f;
}

.banner-button {
  width: 484px;
  display: block;
}

.now-open {
  margin-bottom: 54px;
}

.form {
  margin: 36px 0 54px;
}

.form-heading {
  margin-bottom: 18px;
}

.early-access-heading {
  color: #c1d94f;
}

.have-account-heading {
  margin-bottom: 9px;
  font-size: 14px;
}

.login-button {
  width: 100%;
  max-width: 433px;
  margin: 0 auto;
}

.login-button.is-slanted:hover,
.login-button.is-slanted:focus {
  background: #ff006b;
  color: #fff;
}

.arrow {
  width: 22px;
  height: 28px;
  margin: 36px auto 0;
  background: url('../images/DoubleArrow.png') no-repeat 0 0;
  background-size: contain;
}

.pillars {
}

.pillar {
  width: 33.33%;
  padding: 0 36px;
  display: inline-block;
  vertical-align: top;
}

.pillar-heading {
}

.pillar-body {
}

.pillar-image-container {
  width: 100%;
  max-width: 346px;
  margin: 0 auto;
}

.pillar-image {
  height: 0;
  padding-top: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  overflow: hidden;
}

.image-play {
  background-image: url('../images/PlaySomethingNewInterface.png');
}

.image-table {
  background-image: url('../images/FillYourTableInterface.png');
}

.image-role {
  background-image: url('../images/RoleEffortlesslyInterface.png');
}

.legal-content,
.wallpapers {
  margin-top: 36px;
  text-align: left;
}

.legal-content p {
  margin-bottom: 18px;
}

.wallpaper {
  max-width: 500px;
  margin: 0 auto;
}

.wallpaper p {
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}

.wallpaper ul {
  line-height: 1.4;
}

.wallpaper-preview {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: url('../images/Role_Worlds_Wallpaper.jpg') no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width: 1230px) {
  .pillar-heading {
    font-size: 16px;
  }

  .pillar-body {
    font-size: 14px;
  }

  .pillar-image-container {
    max-width: 280px;
  }
}

@media only screen and (max-width: 1130px) {
  .pillar {
    width: 50%;
  }

  .pillar:first-child {
    padding-right: 18px;
  }

  .pillar:nth-child(2) {
    padding-left: 18px;
  }

  .pillar:last-child {
    margin-top: 54px;
  }
}

@media only screen and (max-width: 696px) {
  .pillar {
    width: 100%;
    max-width: 380px;
    margin-top: 54px;
    padding: 0 !important;
  }

  .pillar:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 667px) {
  .inner-content {
    padding-left: 18px;
    padding-right: 18px;
  }

  .section {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .slanted-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .slant:before,
  .slant:after {
    border-width: 0 100vw 100px 0;
  }

  .slant:before {
    top: -100px;
  }

  .slant:after {
    bottom: -100px;
  }

  .banner-button {
    width: auto;
  }
}
