.sections {
  margin: 72px 0;
  text-align: center;
}

.section {
  max-width: var(--content-width);
  margin: 36px auto;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 1.8rem;
}

.section p {
  margin-bottom: 36px;
}

.section-heading {
  margin-top: 36px;
  margin-bottom: 36px;
}

.logo {
  width: 107px;
  height: 111px;
  margin: 0 auto 72px;
  background: url('../images/RoleLogo.png') no-repeat 0 0;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
}

.button {
  max-width: 420px;
  margin: 0 auto;
}
