.page-background {
  width: 100vw;
  height: 100vh;
  background: url('../images/RoleBackground.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.page-wrapper {
  position: relative;
  z-index: 2;
}

.page-nav {
  max-width: 1232px;
  margin: 0 auto;
  padding: 36px 36px 0;
  display: flex;
}

.nav-spacer {
  flex: 1 1 auto;
}

.nav-item {
  margin-right: 18px;
  padding: 6px 0 0;
  display: inline-block;
  color: #fff;
}

.social-icon {
  width: 36px;
  height: 36px;
  margin-right: 18px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon-facebook {
  background-image: url('../images/FacebookIcon.png');
}

.icon-twitter {
  background-image: url('../images/TwitterIcon.png');
}

.icon-twitch {
  background-image: url('../images/TwitchIcon.png');
}

.icon-youtube {
  background-image: url('../images/YouTubeIcon.png');
}

.footer {
  background: #fff;
}

.footer-content {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 18px 36px;
  font-size: 12px;
  text-align: center;
}

.plain-footer {
  background: none;
  color: #fff;
}

.plain-footer .footer-content {
  margin-top: 108px;
}

@media only screen and (max-width: 667px) {
  .page-nav {
    padding-left: 18px;
    padding-right: 18px;
  }
}
